*.zip filter=lfs diff=lfs merge=lfs -text
.js filter=lfs diff=lfs merge=lfs -text
*.pack filter=lfs diff=lfs merge=lfs -text
*.js filter=lfs diff=lfs merge=lfs -text
PPTtoScript.py filter=lfs diff=lfs merge=lfs -text
ToScriptS.js filter=lfs diff=lfs merge=lfs -text
ToScript.js filter=lfs diff=lfs merge=lfs -text
.env filter=lfs diff=lfs merge=lfs -text
