.workspace {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.project-btn {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: lightgray;
  color: white;
  transition: background-color 0.3s, color 0.3s;
}

.project-btn.ppt.active {
  background-color: skyblue;
  color: black;
}

.project-btn.script.active {
  background-color: lightgray;
  color: black;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  background-color: skyblue;
  padding: 2rem;
  border-radius: 5px;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 128px;
  height: 128px;
  border: 2px solid #333;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
  background-color: lightgray;
}

.project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
