@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Noto+Sans+KR:wght@400;600;700&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: static;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* taeyeon */
#nav {
  position: fixed;
  top: 0;
  left:0;
  right: 0;
  width: 100%;
  height: 70px;
  z-index: 1;
  background-color: white;
  font-family: 'Noto Sans KR', sans-serif; 
}
#nav>a {
  text-decoration-line : none;
  display: block;
  float: left;
  padding: 0 25px;
}
#nav>a img {
  height: 35px;
  padding-top: 18px;
}
#nav>ul {
  float: right;
  padding-right: 5px;
  margin: 0px;
  padding-top: 0px;
}
#nav>ul li {
  color: black;
  list-style: none;
  float: left;
  padding: 0 20px;
  line-height: 70px;
}
.nav1 {
  text-decoration-line : none;
  color: black;
  font-size: 20px;
}
.logoutB {
  text-decoration-line : none;
  color: gray;
  padding-right: 5px;
  font-size: 23px;
}

#Temp {
  background: linear-gradient(to bottom, white, #4A73C9);
  color: black;
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  width: 100%;
  height: 230px;
  display: block;
  float: left;
  padding: 0px;
  font-family: 'Noto Sans KR', sans-serif; 
}
#Temp>div {
  margin-top: 30px;
  font-size: 60px;
  font-weight: bold;
  position: relative;
  font-family: 'Noto Sans KR', sans-serif; 
}
#Temp>div p {
  position: relative;
  font-weight: normal;
  font-size: 25px;
  color: #5E5E5E;
  padding: 0px;
  margin-top: 10px;
}
#TempT {
  color: black;
  position: absolute;
  top: 310px;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  display: block;
  float: left;
  padding: 0px;
  font-family: 'Noto Sans KR', sans-serif; 
}
.TempTable {
  width: 100%;
  height: 100%;
}
.TempImg {
  padding: 8px;
  width: 14em;
  filter: drop-shadow(8px 6px 6px #c3c3c3);
}
.tempTitle {
  padding-top: 0px;
  font-weight: bold;
  font-size: 30px;
  text-align: left;
  margin-left: 15px;
  color: #6A6A6A;
  width: 95%;
  width: 11em;
}
.tempIntro {
  padding-top: 5px;
  text-align: left;
  font-weight: normal;
  font-size: 20px;
  color: black;
  width: 95%;
  padding-bottom: 20px;
}

#GuideIntro {
  background: linear-gradient(to bottom, white, #1C1C1C);
  color: black;
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  width: 100%;
  height: 230px;
  display: block;
  float: left;
  padding: 0px;
  font-family: 'Noto Sans KR', sans-serif; 
}
#GuideIntro>div {
  top: 30px;
  font-size: 60px;
  font-weight: bold;
  position: relative;
  font-family: 'Noto Sans KR', sans-serif; 
}
#GuideIntro>div p {
  position: relative;
  font-weight: normal;
  font-size: 25px;
  color: #E6E6E6;
  font-family: 'Noto Sans KR', sans-serif; 
  padding: 0px;
  margin-top: 10px;
}
#Guides {
  color: black;
  position: absolute;
  top: 310px;
  left: 0;
  right: 0;
  display: block;
  float: left;
  padding: 0px;
  font-family: 'Noto Sans KR', sans-serif; 
}
.Guiding {
  color: black;
  width: 95%;
  text-align: left;
  font-weight:600;
  font-size: 38px;
  margin: 15px 30px;
}
#TtoP {
  overflow: visible;
  width: 100%;
}
#TtoP>ul {
  width: 100%;
  display:flex;
  overflow-x: scroll;
  padding: 5px 15px;
}
#TtoP>ul::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  padding-right: 5px;
}
#TtoP>ul::-webkit-scrollbar-thumb {
  background: linear-gradient(to left, white, black);
  border-radius: 10px;
  width: 0.5%;

}
#TtoP>ul::-webkit-scrollbar-track {
  background: linear-gradient(to right, white, black);
  border-radius: 10px;
}
#TtoP>ul li {
  width: 100%;
  list-style: none;
  padding-right: 10px;
}
#GuideImg {
  padding: 8px;
  width: 450px;
  object-fit: cover;
  filter: drop-shadow(8px 6px 6px #c3c3c3);
}
#GuideTitle {
  padding: 10px 7px;
  font-size: 30px;
  font-weight: bold;
}
#GuideTxt {
  font-size: 20px;
  padding: 5px 0px;
  font-weight: normal;
}
#TxtToPPT {
  color: black;
  position: absolute;
  top: 1.5em;
  left: 0;
  right: 0;
  width: 100%;
  display: block;
  padding: 0px;
  margin-top: 40px;
  font-weight: bold;
  font-size: 45px;
  font-family: 'Noto Sans KR', sans-serif; 
}
#TxtToPPT>div {
  font-weight: normal;
  font-size: 25px;
  padding: 10px 0px;
  padding-bottom: 20px;
}
#text {
  width: 50em;
  height: 15em;
  border-width: 3px;
  border-color: #878787;
  border-right: hidden;
  border-left: hidden;
  padding: 15px;
  font-size: 17px;
  resize: none;
  margin-bottom: 10px;
  font-family: 'Noto Sans KR', sans-serif; 
}
#TxtB {
  width: 360px;
  height: 40px;
  border: hidden;
  border-radius: 10px;
  background-color: #4982F7;
  color: white;
  font-size: 20px;
  box-shadow:0 2px 10px rgba(0, 0, 0, 0.6);
  font-family: 'Noto Sans KR', sans-serif; 
}

#PPTSelect {
  color: black;
  position: absolute;
  top: 1.2em;
  left: 0;
  right: 0;
  width: 100%;
  display: block;
  padding: 0px;
  margin-top: 40px;
  font-weight: bold;
  font-size: 40px;
  font-family: 'Noto Sans KR', sans-serif; 
}
#PPTSelect>div {
  font-weight: normal;
  font-size: 23px;
  padding: 10px 0px;
  padding-bottom: 20px;
}
.PPTSelT {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  border-spacing: 60px 5px;
}
.PPTSelT>tr {
  color: black;
}
#Choice1 {
  border: 3px solid #878787;
  border-right: hidden;
  border-left: hidden;
  padding: 15px 10px 10px 10px;
}
#Choice2 {
  padding: 10px 10px 0px 10px;
}
#ChoiceImg {
  width: 8em;
  padding: 0px;
  filter: drop-shadow(6px 6px 6px #c3c3c3);
}
#ChoiceB {
  appearance: none;
  border: max(2px, 0.1em) solid gray;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  transition: border 0.5s ease-in-out;
}
#ChoiceB:checked {
  border: 0.4em solid #4982F7;
}
#ChoiceB:focus-visible {
  outline-offset: max(2px, 0.1em);
  outline: max(2px, 0.1em) dotted #4982F7;
}
#ChoiceB:hover {
  box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
  cursor: pointer;
}
#ChoiceB:hover + span {
  cursor: pointer;
}
#ChoiceB:disabled {
  background-color: lightgray;
  box-shadow: none;
  opacity: 0.7;
  cursor: not-allowed;
}
#ChoiceB:disabled + span {
  opacity: 0.7;
  cursor: not-allowed;
}
#Selected {
  width: 360px;
  height: 40px;
  border: hidden;
  border-radius: 10px;
  background-color: #4982F7;
  color: white;
  font-size: 20px;
  box-shadow:0 2px 10px rgba(0, 0, 0, 0.6);
  margin-top: 15px;
  font-family: 'Noto Sans KR', sans-serif; 
}
#Retry {
  width: 360px;
  height: 40px;
  border: hidden;
  border-radius: 10px;
  background-color: #A6A6A6;
  color: white;
  font-size: 20px;
  box-shadow:0 2px 10px rgba(0, 0, 0, 0.6);
  margin-top: 20px;
  font-family: 'Noto Sans KR', sans-serif; 
}

/* jyKIM */
.a{
  overflow-x: hidden
}
.titleLogo{
  height:350px;
  width:100%;
}
.logoImage{
  height:350px;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.tip{
  margin-top: 23px;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  color: #5E5E5E;
  font-size: 20px;
}
.convertToDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:100vw;
}
.convertToPresent{
  background-color: #4982F7;
  height:225px;
  width:100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.leftPre{
  text-align: right;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 50px;
  margin-right:100px;
  padding-right: 100px;
}
.rightPre{
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
  font-size: 20px;
}


.convertToScript{
  height:225px;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-left:100px;
}
.rightScr{
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
  font-size: 20px;
  margin-top: 50px;
  padding-left: 500px;
}
.leftScr{
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
  font-size: 20px;
  margin-right:-200px;
}

.MainconvertTo{
  font-family: 'Inter', sans-serif;
  font-size:30px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 200px;

}
.MaintoText{
  font-family: 'Inter', sans-serif;
  font-size:50px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
  margin-left:60px;
  letter-spacing : -3px;
}
.MaintoSub{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 22px;
  font-weight: 400;
  margin: 0;
}



.pageDiv{
  margin-bottom: 30px;
  align-items: center;
  text-align:center;
}
.pageTitle{
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
  font-size:32px; 
  margin-bottom: 20px;
  color:black;
}
.pageAddScript{
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  font-size:18px;
  color:#5E5E5E;
  letter-spacing: 0.2px;
  /* -webkit-text-decoration-color: red; */
}
.easyLogin{
  text-align:center;
  margin-top: 50px;
  margin-bottom : 15px;
}

.signUpDataAll{
  text-align: center;
}

.setData{
  text-align:center;
  margin-bottom:60px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size:18px;
  color:#666666;
}

.middleScript{
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 600;
  font-size: 23px;
  color: #5E5E5E;
  margin-top: 30px;
  margin-bottom: 50px;
}

.userData{
  margin-top: 50px;
  color:#666666;
  font-family: 'Noto Sans KR', sans-serif;
  font-size:18px;
}

.policy{
  text-align: left;
  margin-top: 50px;
  margin-bottom: 70px;
}
.policyContent{
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  margin-bottom: 25px;
  text-align: left;
  color: #9B9B9B;
  font-size: 18px;
}
/* 
#findDiv{
  
} */

.findContent{
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  width:400px;
}
.horizontalLine{
  margin-left: 80px;
  margin-right: 80px;
  border-left: thick solid #CFCFCF;
  height: 300px;
  border-left-width: 3px;
}

.line{
  margin-top: 20px;
  text-align: center;
}
td{
  text-align: center;
}
.sendBtn{
  color:white;
  font-family: 'Noto Sans KR', sans-serif; 
  font-weight: 600;
  background-color: #A6A6A6;
  border:none;
  border-radius: 10px;
  width:60px;
  height:40px;
  font-size:18px;
  margin-top: 20px;
  margin-left: 5px;
  filter: drop-shadow(0px 4px 4px #c3c3c3);

  
}
.authenBtn{
  color:white;
  font-family: 'Noto Sans KR', sans-serif; 
  font-weight: 600;
  background-color: #4982F7;
  border:none;
  border-radius: 10px;
  width:60px;
  height:40px;
  font-size:18px;
  margin-top: 20px;
  margin-left: 5px;
  filter: drop-shadow(0px 4px 4px #c3c3c3);
}

.select {
  padding: 15px 10px;
  
}
.select input[type=radio]{
  display: none;
}
.select input[type=radio]+label{
  display: inline-block;
  cursor: pointer;
  height: 40px;
  width: 60px;
  border-radius: 10px;
  line-height: 24px;
  text-align: center;
  font-size:18px;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight:600; 
  text-align:center;
  padding-top: 5px;

}
.select input[type=radio]+label{
  background-color: #A6A6A6;
  color: #fff;
  margin-right: 50px;
  margin-left: 50px;
  filter: drop-shadow(0px 4px 4px #c3c3c3);
}
.select input[type=radio]:checked+label{
  background-color: #4982F7;
  color: #fff;
}
/* 체크박스 숨기기 */
.custom-checkbox input[type="checkbox"] {
  display: none;
}

/* 체크되지 않은 상태일 때 이미지 표시 */
.custom-checkbox label:before {
  content: "";
    display: inline-block;
    width: 20px; /* 이미지 너비 조정 */
    height: 20px; /* 이미지 높이 조정 */
    margin-right: 5px;
    vertical-align: middle;
    background-image: url(./components/images/checkGray.png);
    background-size: cover; /* 배경 이미지 크기 조정 */
}

/* 체크된 상태일 때 이미지 표시 */
.custom-checkbox input[type="checkbox"]:checked + label:before {
  background-image: url(./components/images/checkBlue.png);}

.jobSelect {
  border-top: none; border-left: none; border-right: none;
  border-width: 1.25px;
  border-color: black;
  font-family:'Noto Sans KR', sans-serif;;
  width:300px;
  font-size:18px;
  color: #9B9B9B;
  text-align: center;
  margin-left: 25px;
}


/*gayeon*/
    /* My Button */
.MyButton {
  cursor:pointer;
  border:none;
  border-radius:5px;

  padding-top:10px;
  padding-bottom:10px;
  padding-left:20px;
  padding-right:20px;

  color:white;

  width:300px;
}

.MyButton_blue{
  background-color: #4982F7;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
}

.MyButton_gray{
  background-color: lightgray;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
}

.MyButton_line{
  color:gray;
  border-top: solid lightgray;
  border-bottom: solid lightgray;
  background-color:white;
}

.MyButton_small{
  width:100px;
}

    /* MyTextarea */
.MyTextarea {
  width: 50vw;
  height: 200px;
  padding: 10px;
  border-top: solid gray;
  border-bottom: solid gray;
  border-left: none;
  border-right: none;
  font-size:15px;
  resize:none;
}

.MyTextarea_small {
  height:40px;
  border: none;
  text-align: center;
}

.MyTextarea_title {
  height:40px;
  font-size:25px;
  border: none;
  text-align: center;
}

.thumbnail span {
  position: absolute;
  bottom: 10px;
  color: #fff;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.title span {
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: black;
}